

a {
  color:navy;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: .5px;
  font-size: 25px;
}
table, tr, td {
  background-color: cornflowerblue;
  border: 5px solid salmon;
  border-radius: 50px;
  padding: 20px;
}

td {
  border-radius: 5px;
  color: black;
  background-color: white;
  font-family: sans-serif;
}
