

body {
  /*background-image: url(images/giphy-downsized-large.gif);*/
  /*background-size: contain;*/
  background-color: #A9A9A9;
}
a {
  color:black;
  -webkit-text-stroke-color: snow;
  /*-webkit-text-stroke-width: .5px;*/
  font-size: 40px;
  /*opacity: 0;*/
  /*float: right;*/
  

}
#nav {
  color:mediumspringgreen;
  background: salmon;
  /*opacity: .6;*/
}
h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: cornflowerblue;
  text-align: center;
  font-size: 50px;
  -webkit-text-stroke-color: snow;
  /*-webkit-text-stroke-width: .5px;*/
  background: salmon;


}
#p2 {
  font-size: 10px;
}
h2 {
  background:salmon;
  text-align: center;

}
.section2 {
  background: salmon;
}
#locations {
  color:mediumspringgreen;
  -webkit-text-stroke-color: midnightblue;
  /*-webkit-text-stroke-width: 1px;*/
  background: salmon;
  transform: translate(-0%, -10%);
}
.section {
  font-size: 20px;
  color:mediumspringgreen;
  -webkit-text-stroke-color: midnightblue;
  /*-webkit-text-stroke-width: 1px;*/
  /*background: snow;*/
  /*opacity: .6;*/
}
ol {
  background: salmon;
  opacity: 1;
}
.container {
    position: relative;
    text-align: center;
    transform: translate(-0%, -10%);
    color: white;
    /*background: none;*/
    font-family: 'Ubuntu Condensed', sans-serif;
    background-image: url(images/giphy-downsized-large.gif);
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background: none;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background: none;
}


.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    background: none;
}


.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    background: none;
}


.centered {
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-120%, -50%);
    font-size: 40px;
    background: none;
    color: cornflowerblue;
    -webkit-text-stroke-color: snow;
    -webkit-text-stroke-width: 1px;

}
h3 {
  background: salmon;
  text-align: center;
}
.section4 {
  background: salmon;
}
footer {
  background: salmon;
}
