* {
  background-color: gray;
}
a {
  color:navy;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: .5px;
  font-size: 25px;
}
table, tr, td {
  background-color: green;
  border: 5px solid blue;
  border-radius: 80px;
  padding: 20px;
}

td {
  border-radius: 25px;
  color: red;
  background-color: white;
  font-family: sans-serif;
}
